<nav class="navbar navbar-expand-sm bg-success navbar-secondary">
  <ul class="navbar-nav">
    <li class="nav-item">
   <a routerLink="products" routerLinkActive="active" class="nav-link">Products List</a>
    </li>
    <li class="nav-item">
      <a routerLink="Add-product" routerLinkActive="active" class="nav-link">Add Product</a>
    </li>
    <li class="nav-item">
      <a routerLink="fetch-products" routerLinkActive="active" class="nav-link">fetch Products</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container" id="one">
 <h5 style="text-align: center;">All rights are reserved to ganesh</h5>
  </div>
</footer>